<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Change商城</title>
    @*<title></title>*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/chosen.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/mobile-menu.css">
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/css/首页.css">
    <link rel="stylesheet" href="~/css/商品分类.css">
    <link rel="stylesheet" href="~/css/商品详情.css">
    <link rel="stylesheet" href="~/css/促销活动.css">
    <link rel="stylesheet" href="~/css/购物车.css">
</head>
<body class="home">
    <!-- 头 -->
    <header class="header homepage" id="top">
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left">
                    <div class="header-message login">
                        欢迎来到Change商城
                        @if (@ViewBag.LoginName != null)
                        {
                            <a href="#">@ViewBag.LoginName</a>
                            <span>|</span>
                            <a href="@string.Format("/home/index?Exit={0}","Exit")">退出</a>
                        }
                        else
                        {
                            <a href="~/Login">登录</a>
                            <span>|</span>
                            <a href="~/Login/Create">注册</a>
                        }
                    </div>
                </div>
                <div class="top-bar-right">
                    <ul class="header-user-links">
                        <li>
                            <a href="#"><i class="iconfont">&#xe696;</i>我的Change</a>
                        </li>
                    </ul>
                    <ul class="header-user-links">
                        <li>
                            <a href="~/Car"><i class="iconfont">&#xe698;</i>购物车</a>
                        </li>
                    </ul>
                    <ul class="header-user-links">
                        <li>
                            <a href="#"><i class="iconfont">&#xe6a0;</i>收藏夹</a>
                        </li>
                    </ul>
                    <ul class="header-user-links">
                        <li>
                            <a href="#"><i class="iconfont">&#xe6ba;</i>登录后台</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- logo搜索 -->
        <div class="container">
            <div class="main-header">
                <div class="row">

                    <div class="col-lg-4 col-sm-5 col-md-4 col-xs-7 header-element">
                        <div class="logo">
                            <a href="#">
                                <img src="~/images/logo.png" alt="img">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-8 col-sm-7 col-md-8 col-xs-5">
                        <div class="block-search-block">
                            <form class="form-search form-search-width-category" action="~/Home/ProductSearch" method="get">
                                <div class="form-content">
                                    <div class="inner">
                                        <input type="text" class="input" name="Title" value="" placeholder="搜索">
                                    </div>
                                    <button class="btn-search" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (true)
        {
            @Html.Partial("_Menu")
        }

    </header>
    @*<div class="container">
        <main role="main" class="pb-3">*@
    @RenderBody()
    @*</main>
        </div>*@

    <footer id="bottom">
        <div class="bot-img">
            <div class="footer">
                <div class="footerinner">
                    <div class="footerinfo container">
                        <div class="footerinfoTop">
                            <p>
                                关于Change：<a href="#">帮助中心</a> <a href="#">开放平台</a> <a href="#">联系我们</a> <a href="#">网站合作</a> <a href="#">法律声明</a> <a href="#">知识产权</a> <a href="#">廉正举报</a>

                            </p>
                            <p>湖南省长沙市长沙县万家丽北路水渡河100号</p>
                            <p>违法和不良信息举报电话：0731-xxxxxxxx</p>
                            <p>商务合作邮箱：<a href="" mailto:# "">xxxxxxxx@qq.com</a></p>
                            <p><a href="#">Change用户协议</a> | <a href="#">Change平台交易总则</a> | <a href="#">隐私政策</a></p>
                            <p>©2020 Change商城 Change.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/mobile-menu.js"></script>
    <script src="~/js/chosen.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/jquery.elevateZoom.min.js"></script>
    <script src="~/js/fancybox/source/jquery.fancybox.js"></script>
    <script src="~/js/owl.thumbs.min.js"></script>
    <script src="~/js/frontend-plugin.js"></script>
    <script src="~/js/vue.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
