@*
 二级首页模板
*@
<!-- 分类菜单 -->
<div class="header-nav-container rows-space-20">
    <div class="container">
        <div class="header-nav-wapper main-menu-wapper">
            <div class="vertical-wapper block-nav-categori">
                <div class="block-title">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="text">商品分类</span>
                </div>
                <div class="block-content verticalmenu-content">
                    <ul class="tanajil-nav-vertical vertical-menu tanajil-clone-mobile-menu">

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe83a;</i>&nbsp;&nbsp;&nbsp;服装
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"]  as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 3)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=服装",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }                                
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe820;</i>&nbsp;&nbsp;&nbsp;数码
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"] as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 4)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=数码",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6d7;</i>&nbsp;&nbsp;&nbsp;家居
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"] as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 6)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=家具",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6d2;</i>&nbsp;&nbsp;&nbsp;美妆
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"] as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 7)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=美妆",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe707;</i>&nbsp;&nbsp;&nbsp;美食
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"] as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 5)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=美食",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6e1;</i>&nbsp;&nbsp;&nbsp;母婴
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                @foreach (var item in @ViewData["Category"] as IEnumerable<Category>)
                                {
                                    @if (@item.ParentId == 8)
                                    {
                                        <li class="menu-item">
                                            <a href=@string.Format("/Home/ProductCategory/?CategoryId={0}&CategoryName=母婴",@item.CategoryId ) class="tanajil-item-title">@item.CateName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- 导航 -->
            <div class="header-nav">
                <div class="container-wapper">
                    <ul class="tanajil-clone-mobile-menu tanajil-nav main-menu " id="menu-main-menu">
                        <li class="menu-item  menu-item-has-children active">
                            <a href="~/Home" class="tanajil-menu-item-title" title="首页">首页</a>

                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="~/Home/News?NTypes=促销活动" class="tanajil-menu-item-title" title="促销活动">促销活动</a>

                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="~/Home/News?NTypes=大宗礼品" class="tanajil-menu-item-title" title="大宗礼品">大宗礼品</a>

                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a href="~/Home/News?NTypes=活动咨询" class="tanajil-menu-item-title" title="活动咨询">活动咨询</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
